*
	box-sizing border-box
html
	height:100%
	/* mobile momentum scrolling */
	overflow-y: scroll /* has to be scroll, not auto */
	-webkit-overflow-scrolling: touch
body
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
	font-weight: 300
	height 100%
	margin 0
	padding 0

h1,
h2,
h3,
h4,
h5,
h6
	margin 0
ul,
ol
	margin 0
	padding-left 0

li
	list-style none

a,
p,
button,
input
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

a
	outline none
	text-decoration none
	border 0
	img
		outline none
		 border: 0
p
	margin-top 0

button
	appearance none
	background-color transparent
	border none
	box-shadow none
	cursor pointer
	outline none

hr
	border none

img
	max-width 100%
	outline none

input
	outline none