extends layout

block content
	h1 NotSoCraft
	p Welcome to NotSoCraft! The intention of this site is to expose macro-owned breweries feigning as craft.
	a(href='https://www.brewersassociation.org/staff-voices/anheuser-busch-purchase-10-barrel-brewing-follows-trend-regionalization-impacts-distributor-footprints/', target='_blank') 10 Barrel Brewing
	br
	a(href='http://www.marketwatch.com/story/small-craft-beer-buyouts-face-big-problems-2014-11-07', target='_blank') Some Buyouts
	br
	a(href='http://www.newschoolbeer.com/2014/11/anheuser-buschs-purchase-10-barrel-can-ruin-industry.html', target='_blank') Dangers of Craft buyouts
	img(src="IMG_4657.JPG")